body {
    background-color: #bbbf95;
}

.mainTitle {
    cursor: pointer;
    color: #127a7a;
    float: left;
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    border: 3px solid #776e62;
    transition: padding 0.3s ease-in-out;
}

.mainTitle::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #d1d6e0;
    border-right: 3px solid #d1d6e0;
    border-bottom: 3px solid #d1d6e0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.mainTitle:hover {
    padding: 0.75rem 2.25rem;
}

.mainTitle:hover::before {
    top: 0;
    left: 0;
}



.returnForm {
    display: flex;
    margin-bottom: 20rem;
    justify-content: center;
    align-items: center;
}

.topBar {

    width: auto;
    float: right;
    margin-top: 1rem;
    border-bottom: solid rgba(10, 25, 77, 0.3) 0.2rem;

}
.topBar a{
    color: #127a7a;
}

.admin {
    /* visibility: hidden; */
    /*看使用者權限*/
    width: auto;
    float: right;
    margin-top: 1rem;
    border-bottom: solid rgba(10, 25, 77, 0.3) 0.2rem;

}

.admin a {
    color: #720017;
}

.inMid{
    position: absolute;
    width: 98%;

}
.Pboard li {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    padding: 1.6rem 2rem;
}

.Pboard a {
    text-align: center;
    text-decoration: none;
    border-color: #ffffff;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.Pboard a:hover {
    color: #ffffff;
    background-position: 100%;
}

.searchGroup {
    position: absolute;
    top: 24rem;
    width: 95%;
    margin: 2.4rem;
}

.searchBar {
    display: inline-flex;
    float: right;
    margin-bottom: 0.2rem;
    
    

}

.searchSelection {
    bottom: 3px;
    width: 33%;
    height: 3rem;
    background: #21252c;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    float: left;
    color: #c6d6e6;
    padding-left: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.searchSelection:hover {
    color: #fff;
    background-color: rgb(39, 34, 34);
    display: list-item;
    transition: 1s;

}
.searchSelection:focus {
    color: #fff;
    background-color: rgb(39, 34, 34);
    display: list-item;
    transition: 1s;

}

.searchSelection::selection {
    color: #fff;
    background-color: rgb(39, 34, 34);
    transition: 1s;
}

.searchText {
    width: 100%;
    height: 3rem;
    background: #21252c;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    float: left;
    color: #c6d6e6;
    padding-left: 1rem;
    border-radius: 5px;
}

.searchText:focus {
    color: #fff;
    background-color: rgb(39, 34, 34);
    outline: none;
    transition: 1s;
}

.board {
    
    overflow: auto;
    background-color: rgb(39, 34, 34);
    border-radius: 30px;
    border-collapse: collapse;
    color: rgb(238, 231, 231);
    cursor: default;
    box-shadow: 11px 3px 30px #4f5b66;

  
}

.board tr {
    border-top: 0.1rem solid rgb(109, 93, 93);
}

.boardTitle {
    font-size: 1.25rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(54, 52, 52);


}

.boardInput {
    font-size: 1.15rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.8rem;
}

.status {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 40%;
    padding: 0.75rem 0.8rem;
    color: #2b2b2b;
    margin: 15%;
}
.page-item{
    font-size: 1.2rem;
    font-weight: bold;
    border: solid black 0.2rem;
    display: inline-block;
    padding: 1.1rem 1.3rem;
}
.page-item:hover{
    background-color: rgb(39, 34, 34);
    color: #fff;
    transition: 1s;
}
.page-itemactive{
    font-size: 1.2rem;
    font-weight: bold;
    border: solid black 0.2rem;
    display: inline-block;
    padding: 1.1rem 1.3rem;
    background-color: rgb(39, 34, 34);
   
    transition: 1s;
}
.page-itemactive a{
    color: #fff;
}
.page-link{
    text-align: center;
    color: black;
    text-decoration: none
}
.page-link:hover{
    color: #fff;
}